/* HomePage.css */

.homeContent {
  margin: -24px auto;
  background-color: #e5f2ff;
  padding: 20px;
}

.titles {
  text-align: center;
  border-bottom: 0.5px solid #bebebe;
  padding-bottom: 15px;
}

.hero {
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.featureContent {
  max-width: 80%;
  margin: 0 auto;
}

.button-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button-row a {
  flex: 1;
  margin: 0 5px;
  max-width: 200px; /* Set a maximum width for the buttons */
}

.benefitsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.benefitItem {
  flex: 0 0 30%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.benefitItem h3 {
  color: #333;
}

.benefitItem p {
  margin-top: 10px;
  color: #666;
}

.why-choose-us {
  background-color: #ffff;
  padding: 50px;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

.meet-our-tutors {
  background-color: #f2f2f2;
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
}

.become-a-tutor {
  background-color: #e5f2ff;
  padding: 50px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.sectionText {
  padding: 20px;
  max-width: 950px;
  margin: 0 auto;
}

.recentTutorsContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recentTutorCard {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

.recentTutorCard img {
  max-width: 150px;
  height: auto;
  border-radius: 4px;
  margin-right: 10px;
}

.recentTutorCard div {
  display: flex;
  flex-direction: column;
}

.recentTutorCard h3,
.recentTutorCard .card-title {
  color: #333;
  text-align: left;
}

.recentTutorCard p {
  margin: 8px 0;
  color: #666;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .homeContent {
    margin: 0 auto;
    padding: 10px; /* Add padding to avoid edges of the screen */
  }

  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .button-row {
    flex-direction: column; /* Display buttons in a column on small screens */
    align-items: center;
  }

  .button-row a {
    flex: 1;
    margin: 0 5px;
    max-width: 100%;
    margin-bottom: 10px; /* Add bottom margin between buttons */
  }

  .benefitsContainer {
    flex-direction: column;
    align-items: center;
  }

  .benefitItem {
    flex: 0 0 90%; /* Adjust width as needed */
    margin: 10px;
  }

  .recentTutorsContainer {
    flex-direction: column;
    align-items: left; /* Left-align all items in the recent tutors container */
  }

  .recentTutorCard {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto 20px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
    flex-direction: column;
  }

  .recentTutorCard img {
    max-width: 100%; /* Adjust the maximum width of the images */
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    align-self: center;
  }

  .recentTutorCard div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
  }

  .recentTutorCard h3,
  .recentTutorCard .card-title,
  .recentTutorCard p {
    color: #333;
    text-align: center; /* Center text in each card */
    max-width: 100%;
    padding: 0 10px; /* Add padding to prevent text from sticking to the edges */
  }
}
